*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


body{
    background-image: url(/images/project-image.jpg);
    background-size: 100% 100%;
   background-attachment: fixed;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom:10px;
    align-items: center;
}

img{
    height: 70px;
    mix-blend-mode: multiply;
}

.nav-left{
    margin-right: 50px;
    margin-left: 50px;
}

.nav-middle{
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.nav-right{
    margin-left: 20px;
}

button{
    color: white;
    padding: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: solid 1px orange;
    margin-left: -6px;
    background-color: orange;

}

::placeholder{
    color: white;
   
}

input{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: solid 1px orange;
    padding: 10px;
   background-color: rgba(255, 0, 0, 0);
}